@media screen and (max-width: 800px) and (min-width: 320px)
{
  .headerwrapper
  {
    width: 100%;
    height: 80px;
  }

  .logo
  {
    height: 24px;
    width: 80px;
    margin-top: 35px;
    margin-left: 10px;
    background-size: cover;
  }

  .heading1
  {
    font: 23pt "Helvetica Bold", Arial, sans-serif;
    font-weight: 700;
    top: 9px;
    left: 95px;
  }

  .slogan
  {
    font: 10pt "Helvetica Normal", Arial, sans-serif;
    top: 50px;
    left: 95px;
    right: auto;
    position: absolute;
  }

  div[class*="box"]
  {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }

  h2
  {
    left: 180px;
    position: absolute;
    display: inline-block;
    width: auto;
    font: 19pt "Helvetica Bold", Arial, sans-serif;
    font-weight: 700;
    top: -20px;
    padding-top: 40px;
  }

  div[class*="bigicon"]
  {
    position: relative;
    top: 0px;
    left: 10px;
    height: 190px;
    width: 150px;
    background-size: cover;
    display: block;
    margin-bottom: 30px;
  }

  a[class*="smalliconHref"]
  {
    width: 70px;
    height: 82px;
    display: block;
    color: green;
  }

  div[class*="smallicon"]
  {
    position: relative;
    top: auto;
    left: 10px;
    width: 70px;
    height: 82px;
    background-size: cover;
    display: inline-block;
    z-index: 200;
  }

  div[class*=list]
  {
    /*position: relative;
    top: -20px;
    left: 20px;
    width: 175px;
    background-position: right;
    display: inline-block;*/
    display: none;
  }

  a[class*=heading3]
  {
    position: relative;
    top: -34px;
    left: 15px;
    text-align: left;
    height: 37px;
    width: auto;
    display: inline-block;
    font: 12pt "Helvetica Bold", Arial, sans-serif;
    font-weight: bold;
  }

  a[class*=orange__heading3]
  {
    color:#ed6800;
  }

  a[class*=blue__heading3]
  {
    color:#009cad;
  }

  a[class*=red__heading3]
  {
    color:#c9252c;
  }


  a[class*="LMS"]
  {
    top: -27px;
    padding-bottom: 14px;
  }

  div[class*="describe"]
  {
    position: relative;
    top: -25px;
    left: auto;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 90px;
    padding-right: 50px;
    margin-top: 0;
  }

  div[class*=__background]
  {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    background-repeat: repeat-y;
    margin-top: -15px;
  }

  div.bluecontact
  {
    position: absolute;
    top: 85px;
    left: 180px;
    height: 127px;
    display: block;
  }

  div.redcontact
  {
    position: absolute;
    top: 85px;
    left: 180px;
    height: 127px;
    display: block;
  }


  .creators
  {
    font: 9pt "Helvetica Normal", Arial, sans-serif;
  }

  .footerwrapper
  {
    width: 100%;
    height: 111px;
  }

  .bluecontact
  {
    position: absolute;
    top: 95px;
    left: 715px;
    display: none;
    height: 127px;
  }

  .redcontact
  {
    position: absolute;
    top: 95px;
    left: 715px;
    display: none;
    height: 127px;
  }

  p[class*="name"]
  {
    font: 12pt "Helvetica Bold", Arial, sans-serif;
    font-weight: 700;
    margin: 0;
  }

  p[class*="position"]
  {
    font: 10pt "Helvetica Normal", Arial, sans-serif;
    margin: 0;
  }

  div[class*="Scroll"]
  {
    top: auto;
    left: 10px;
  }

  div[class*=smallicon]:hover
  {
    background-size: cover;
  }





}
