@media screen and (max-width: 800px) and (min-width: 320px)
{
  .blueheader
  {
    width: 100%;
    height: 160px;
  }
  .blueheader-box
  {
    width: 300px;
    height: 160px;
    text-align: center;
  }
  .imgheader-box
  {
    width: 300px;
  }
  .grayheader-box
  {
    width: 300px;
  }
  .treeblock-box
  {
    width: 300px;
  }
  .feedback-box
  {
    width: 300px;
    height: 500px;
  }
  .logo
  {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15px;
  }
  .logotext
  {
    display: inline;
    position: relative;
    font: 19pt "Helvetica Light", Arial, sans-serif;
    left: auto;
    bottom: auto;
    top: 25px;
  }
  .connect
  {
    position: relative;
    right: auto;
    top: 45px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .blueline
  {
    position: relative;
    height: 1px;
    width: 220px;
    background-color: #2980b9;
    display: block;
    margin: 0 auto;
    top: 30px;
  }
  .title1
  {
    font: 33pt "Helvetica Bold", sans-serif;
    padding-top: 40px;
    margin-top: 0;
    text-align: center;
    display: block;
  }
  .title2
  {
    font: 14pt "Helvetica Light", sans-serif;
    color: white;
    margin-top: -20px;
    line-height: 24pt;
    width: 100%;
    text-align: center;
    display: block;
  }
  form
  {
    width: 300px;
    position: absolute;
    margin: 20px auto 0 0;
  }
  .formspace
  {
    width: 260px;
  }
  .formbutton
  {
    margin-left: 40px;
  }
  .grayheader
  {
    height: 685px;
  }
  h3.grayheader-h3
  {
    padding-top: 430px;
    text-align: center;
  }
  .grayheadertext
  {
    width: 300px;
    margin-top: -10px;
    text-align: center;
  }
  .bluetitle
  {
    font: 16pt "Helvetica Light", sans-serif;
    text-align: center;
    line-height: 22pt;
  }
  .treeblock
  {
    height: 1330px;
  }


  .block
  {
    margin: auto;
  }
  div.col-last
  {
    float: none;
    margin-right: auto;
  }
  .last-next-box
  {
    float: none;
    display: block;
    margin: -20px auto 0 auto;
    width: 90px;
  }
  .feedback-box-text
  {
    width: 300px;
  }
  .grayfuter
  {
    height: 240px;
  }
  .bigbutton-box
  {
    width: 300px;
  }
  .bigbutton
  {
    height: 133px;
    width: 300px;
    position: absolute;
    margin: 50px auto auto -265px;
    z-index: 1;
  }
  .bigbutton-text
  {
    font: 16pt "Helvetica Light", sans-serif;
    line-height: 20pt;
    width: 270px;
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    left: auto;
    right: auto;
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
  .circle
  {
    position: relative;
    margin: 15px auto 0 auto;
    right: auto;
    top: auto;
  }
  .student
  {
    position: relative;
    display: inline;
    margin: -123px auto 0 40px;
    float: none;
    z-index: 0;
  }
  .bluefuter
  {
    height: 320px;
  }
  .bluefuter-box
  {
    width: 250px;
  }
  .biglogo
  {
    height: 50px;
    width: 50px;
    border: solid 2px white;
    border-radius: 30px;
    background: url(Images/ABCsmall.png) center no-repeat;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15px;
  }
  .biglogotext
  {
    display: inline;
    position: relative;
    font: 17pt "Helvetica Light", Arial, sans-serif;
    left: auto;
    bottom: auto;
    top: 25px;
  }
  .connectbottom
  {
    position: relative;
    right: auto;
    left: auto;
    top: 40px;
    margin: auto;
  }
  .biglogo-box
  {
    height: auto;
    width: 100%;
    display: block;
    border-right: none;
    position: relative;
    margin: auto;
    text-align: center;
  }
  .copyright
  {
    position: relative;
    font: 9pt "Helvetica Light", Arial, sans-serif;
    top: 85px;
    left: auto;
    text-align: center;
    line-height: 15pt;
  }
}
